---
layout: default
---

<div class="home">
  <h1 class="page-heading">مقاله ها</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      {% include post-item.html %}
    {% endfor %}
  </ul>

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">بعدی</a>
  {% else %}
    <span class="previous">بعدی</span>
  {% endif %}
  <span class="page_number " >{{ paginator.page }} از {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">قبلی</a>
  {% else %}
    <span class="next ">قبلی</span>
  {% endif %}
</div>

</div>
