<li>
<h2>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
</h2>

<div class="post-meta" id="date:{{post.date}}{{post.title}}"></div>
<div class="post-meta">نویسنده : {{ post.author }}</div>

<div class="post-excerpt">
    {%   if post.content contains site.excerpt_separator or post.content != post.excerpt %}{{ post.excerpt }}
    {%   else %}{{ post.content | lstrip | split: "
" | first }}{% endif %}
    <p>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">خواندن مطلب &raquo;</a>
    </p>
</div>
<script>
        var date='{{post.date}}'
        moment.loadPersian(true);
        var mom = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('jD jMMMM jYYYY');
        document.getElementById("date:{{post.date}}{{post.title}}").innerText=mom
    </script>
</li>