{% if page.layout == "tutorial" %}
<div class="post-index" dir="rtl">
    <h1 id="section">فهرست</h1>
    {% assign posts = site.tutorials | where: "category", {{page.category}} %}
    {% assign posts_by_unit = posts |  sort: "unit" | group_by: "unit" %}
    {% for unit in posts_by_unit %}
        {% assign sorted_unit_posts = unit.items | sort: "chapter" %}
        {% for post in sorted_unit_posts %}
            {% if post.chapter == 0 %}
                <p class="headline">
                    {% if post.content == "" %}
                        {{ post.unit }} - {{ post.title }}
                    {% else %}
                        <a class=" {% if page.url==post.url %}selected{% endif %}"
                            href="{{ post.url }}">{{post.unit}} - {{ post.title }}</a>
                    {% endif %}
                </p>
            {% else %}
                <p class="post-head">
                    {% if post.content == "" %}
                        {{post.chapter}}.{{post.unit}} ) {{ post.title }}
                    {% else %}
                        <a class="{% if page.url==post.url %}selected{% endif %}"
                            href="{{ post.url }}">{{post.chapter}}.{{post.unit}} ) {{ post.title }}</a>
                    {% endif %}
                </p>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endif %}

{% if page.layout == "post" %}
<nav>
    <ul>
        {% for post in site.posts %}
        <li>
            <a style="{% if page.url == post.url %}color:red;{% endif %}" href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
