body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

p, li, a {
  text-align: justify;
}

a {
  text-decoration: none;
  color: #036;
}

a:hover, a:focus {
  text-decoration: underline;
  color: #069;
}

blockquote {
  background: #f8f8f8;
  margin: 0;
  padding: 5px 20px;
  border-right: 10px solid #f66;
}

code, pre {
  font-family: $code-font-family;
  font-size: $code-font-size;
}

code {
  color: #900;
  background-color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}

pre {
  overflow-x: auto;
  padding: 20px 50px;
}

pre, pre code {
  color: #fafafa;
  background-color: #223;
}

pre code {
  padding: 0;
}

div iframe {
  margin-right: -30px;
  margin-left: -30px;
}


p img {
  margin-right: -30px;
  margin-left: -30px;
  width: calc(100% + 60px);
  height: 100%;
}


.hide {
  display: none;
}

.center {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10pt auto;
  background: #FFF;

  td, th {
    border: 1px solid #CCC;
    padding: 5px 15px;
    margin: 0;
  }

  th {
    border-color: #555;
    background: #555;
    color: #eee;
    font-weight: normal;
  }

  tr:hover {
    background: rgba(255, 255, 0, 0.2);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.MathJax_SVG_Display, .MathJax_Display, .MJXc-display, .MathJax_PHTML_Display {
  overflow-x: auto;
}
