---
layout: default
---
<div class="post" dir="ltr">

  <header class="post-header" dir="rtl">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-edit-github-btn">
      <a href="{{ page.editlink }}" class="edit-btn edit-github-btn">
        <i class="fa fa-github" style="font-size: 30px"></i>
        <span class="edit-github-btn-text"> ویرایش </span>
      </a>
    </div>
     <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>


  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  {% include comment.html %}

</div>
